@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

$font-family: 'DM Sans', sans-serif;
$black : #0A131E;
$white:#ffffff;
$red: #BF0A30;
$input-field:#1F3648;
$light-font:#87939C;
$blue: #007aae25;
$border:#008BC5;
