@import "header";

body
{
    overflow: scroll;
}
body::-webkit-scrollbar{
    display: none;
  }
main
{
    height: 100%;
    margin: 160px 150px 0px 150px;
    text-align: justify;
    
    .que
    {
        font-weight: bolder;
        margin-top: 20px;
        font-size: large;
    }

    .ans
    {
        margin-top: 5px;
    }
}

@media (max-width: 768px) {
    main
    {
        margin: 120px 20px 0px 20px;
    }
}